body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
nav a {
    padding: 13px;
    text-decoration: none;
    font-size: 30px;
    color: #dd1e1e;
    transition: 0.5s; 
}
#noteList {
    list-style-type: none;
    padding: 0;
}
#editor {
    border: 1px solid #ddd;
    padding: 8px;
    margin-bottom: 8px;
}
@media(min-width: 450px){
    .layout{ display: grid;
    grid-template-rows: 3rem auto 4rem 3rem;
    grid-template-columns: auto to auto;
    grid-template-areas: 
    'head head head'
    'nav nav nav'
    'div div div';
}}



