main{
    position: relative;
}
#darkMode{
    padding: 20px 40px;
    border-radius: 15px;
    border: solid 1px #aaa;
    cursor: pointer;
    transition: 0.2s;
}
#darkMode:hover{
    border: solid 1px #000;
}